
body {
  font-family: Arial, sans-serif;
}

.search-bar {
  margin: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

@media screen and (max-width: 749px) {
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 750px) and (max-width: 949px) {
  body {
    font-size: 18px;
  }
}

@media screen and (min-width: 950px) {
  body {
    font-size: 22px;
  }
}
.btn {
  width: 100%;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
}

.btn-view {
  background-color: #4CAF50; /* Green */
  color: white;
}

.btn-watch {
  background-color: #008CBA; /* Blue */
  color: white;
}

.results-item {
  background-color: #f0f0f0; /* Light grey */
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
   width: 50%;
}

.results-item img {
  width: 100%;
  height: auto;
}

.results-item p {
  margin: 10px 0 0;
  font-size: 18px;
  font-weight: bold;
}
